{% extends "base.html" %}
{% block titlename %} Dashboard {% endblock titlename %}
{% block cssfile %}
{% load static%}
<link rel="stylesheet" href="{% static "css\profile_style.css" %}">
<link rel="stylesheet" href="{% static "css\note_style.css" %}">
{% endblock cssfile %}
{% block activated %}
<ul class="nav navbar-nav mr-auto mt-2 mt-lg-0">
  <li class="nav-item">
  <a class="nav-link" href="{% url "home" %}">Home</a>
  </li>
  <li class="nav-item">
  <a class="nav-link" href="{% url "about" %}">About</a>
  </li>
  <li class="nav-item">
  <a class="nav-link" href="{% url "contact" %}">Contact</a>
  </li>
  <li class="nav-item active">
  <a class="nav-link" href="{% url "dashboard" user.pk %}">Dashboard</a>
  </li>
</ul>
{% endblock activated %}
{% block content %}
  <div class="container">


      <div class="row">
        <div class="col-2 side-menu">
          <ul class="list-group">
            <li class="list-group-item"><a href="{% url "edit-profile" user.pk %}">Edit Profile</a></li>
            <li class="list-group-item"><a href="{% url "forgot_password" %}">Change Password</a></li>
            <li class="list-group-item"><a href="{% url "notifications" user.pk %}">Notifications</a></li>
            <li class="list-group-item active"><a href="{% url "dashboard" pk=user.pk %}">Dashboard</a></li>
            <li class="list-group-item active"><a href="{% url "delete-account" pk=user.pk %}">Deactivate Account</a></li>
          </ul>
          <br/><br/>

            <div class="dropdown">
              <div class="dropdown-toggle" id="dropdownMenuButton" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img id="add-button" src="{% static "add_icon.png"%}" />
              </div>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="{% url "create_note" user.pk %}">New personal note</a>
                <a class="dropdown-item" href="{% url "create-shared-note" user.pk %}">New shared note</a>
              <!--  <a class="dropdown-item" href="#">New personal list</a>
                <a class="dropdown-item" href="#">New shared list</a> -->
              </div>
            </div>

        </div>
        {% block secondary-content %}
        {% load markdown_deux_tags %}
        <div class="col">
          {% for obj in object_list %}


                <div class="note">
                  <div class="panel">{% load static %}<a href = "{% url "get-pdf" obj.pk %}">Download PDF</a> . <a href="{% url "delete-note" pk2=obj.pk pk1=user.pk %}"><img src="{% static "delete_icon.png" %}" /></a> &nbsp; {{obj.last_modified}}</div> <!-- consider adding the favourites icon -->
                <a href="{% url "edit-note" pk2=obj.pk pk1=user.pk %}">
                  <div class="title"><b>{{obj.title}}</b></div>
                  <div class="contents">{{obj.contents|markdown}}</div>
                </div></a>
              {% empty%}
              <p> No notes yet..</p>
          {% endfor %}
        </div>
        <div class="col">
          {% for obj in shared_notes %}

                <div class="note">
                  <div class="panel"><a href = "{% url "get-shared-pdf" obj.pk %}">Download PDF</a><a href="{% url "delete-shared-note" pk2=obj.pk pk1=user.pk %}"><img src="{% static "delete_icon.png" %}" /></a> &nbsp; {{obj.last_modified}}</div> <!-- consider adding the favourites icon -->
              <a href="{% url "edit-shared-note" pk2=obj.pk pk1=user.pk %}">
                  <div class="title"><b>{{obj.title}}</b></div>
                  <div class="contents">{{obj.contents|markdown}}</div>
                </div>
              </a>
          {% empty%}
            <p> No notes yet..</p>
          {% endfor%}
      </div>
      {% endblock secondary-content %}
  </div>
{% endblock content %}
