{% extends "signuppage.html" %}
{% block titlename %} Log In {% endblock titlename %}
{% block second-content %}
    <center><h1> <b>LOG IN</b></h1>


    {% if form.errors %}
    <p> Your username and password do not match. Please try again.</p>
    {% endif %}

    <form action="{% url "login" %}" method="post">
      {% csrf_token %}
      {% for field in form %}
          <div class="form-group">
              {{ field.errors }}
              {{ field.label_tag }} <br/>{{ field }}
          </div>
      {% endfor %}
      <button type="submit" class="btn btn-primary">LogIn</button>
      
    </form>
    </center>
{% endblock second-content %}
