{% extends "dashboard.html" %}
{% block secondary-content %}
  <div class="col-12">
    <div class="note">
      <form action="" method="post">
        <!--<input type="text" class="note_title" placeholder="Untitled">-->
        <!--<textarea class="note_contents" rows="20" cols="46">Note</textarea>-->
        {% csrf_token %}
        <div class="note_title">
          {{form.title.errors}}
          {{form.title}}
        </div>
        <div class="note_contents">
          {{form.contents.errors}}
          {{form.contents}}
        </div>
        <label for="{{form.favourite.id_for_label}}">Add to favourites</label>
        <label class="customCheckbox">
          {{form.favourite}}
          <span></span>
        </label>
        <center><button type="submit" class="btn btn-primary">Submit</button></center>
      </form>
    </div>
  </div>
{% endblock %}
