{% extends "dashboard.html" %}
{% block secondary-content %}
  <div class="col-8">
      <form action="" method="post">
        <!--<input type="text" class="note_title" placeholder="Untitled">-->
        <!--<textarea class="note_contents" rows="20" cols="46">Note</textarea>-->
        {% csrf_token %}
        <center><div>
          {{form.title.errors}}
          {{form.title}}
        </div></center>
        <div>
          {{form.contents.errors}}
          {{form.contents}}
        </div>
        <center>
        <label for="{{form.favourite.id_for_label}}">Add to favourites</label>
        <label class="customCheckbox">
          {{form.favourite}}
          <span></span>
        </label></center>
        <center><button type="submit" class="btn btn-primary">Submit</button></center>
      </form>
  </div>
{% endblock %}
